DATABASE_URL=postgresql://postgres@localhost:5432/vinstub
REDIS_URL=redis://localhost:6379
JWT_SECRET=e1392e6bbe45e7f8309f080003a2a676a35dc28732666d2e9f3a5f408112f55d
REFRESH_SECRET=b93b11a37ea30492cb0511fbddbc5509bba0ab5915a960eb511023f4fdbc09d5
STRIPE_SECRET_KEY=sk_test_51TFaIr5pKltjHHntQripoTxO4C3Z9LgBY13jZyz8r1zJ8y0jY1RN2KZqKOmwMlvkKnsQpgGIIgPb1lAzvIJSONFw00e92vRY4N
STRIPE_WEBHOOK_SECRET=whsec_placeholder
STRIPE_PRICE_BASIC=price_placeholder_basic
STRIPE_PRICE_PREMIUM=price_placeholder_premium
STRIPE_PRICE_ENTERPRISE=price_placeholder_enterprise
RESEND_API_KEY=re_UVpJNCou_LKwdtNzy53yhLF78yQHVu2F4
ADMIN_API_KEY=f3f568e9d24d628f1a96f992580661ee4390831cc0914c7547e7c68b50f19449
ADMIN_TOTP_SECRET=JBSWY3DPEHPK3PXP
NODE_ENV=development
